<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job Updates</title>

    <script src="https://cdn.tiny.cloud/1/d2swxcorjqs52ew1r218beq5haadbkqn2u1yh3uwpmx8ei4c/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>

    <style>
        #job-updates-nav-item{
             background-color: #617CEA;
            border-radius: 10px;
        }
        .input {
            width: 80%;
            height: 44px;
            background-color: #05060f0a;
            border-radius: .5rem;
            padding: 0 1rem;
            border: 1px solid #aaa;
            font-size: 1rem;
            transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
        }

        .label {
            display: block;
            margin-bottom: .3rem;
            font-size: .9rem;
            font-weight: bold;
            color: #05060f99;
            transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
        }

        .input-group-ju {
            margin: 16px;
        }

        .input:hover,
        .input:focus,
        .input-group:hover .input {
            outline: none;
            border-color: #05060f;
            border: 2px solid #777676;
        }

        .input-group:hover .label,
        .input:focus {
            color: #05060fc2;

        }

        .form-submit-btn {
            padding: 8px 40px;
            border-radius: 12px;
            border: 2px solid #00695C;
            background-color: #009688;
            color: #fff;
            letter-spacing: 0.8px;
        }

        .form-submit-btn:hover {
            background-color: #fff;
            transition: 400ms ease;
            color: #009688;
        }
        button.btn-del-view {
    border: none;
    padding: 4px 12px;
    color: #fff;
}
#view-btn i,#del-btn i{
    padding-right: 4px;
}
#view-btn{
    background-color: rgb(110, 172, 243);
    border-radius: 20px;
    border: 2px solid rgb(2, 164, 245);
    font-size: 14px;

}
#del-btn{
    background-color: rgb(250, 97, 97);
    border-radius: 20px;
    border: 2px solid rgb(243, 42, 42);
    font-size: 14px;

}
button.btn-close {
    margin-left: auto;
    margin-right: 8px;
    margin-top: 8px;
}
button#cancelbtn{
    color: rgb(250, 97, 97);
    border: 2px solid rgb(243, 42, 42);
    background-color: #fff;
    }
    button.deletebtn{
        color: #fff;
        border: 2px solid rgb(243, 42, 42);
        background-color: rgb(250, 97, 97);
        padding: 6px 12px;
        margin: 4px;
        border-radius: 8px;


}
@media screen and (max-width:480px) {
 .input-group-ju{
    margin: 8px;
 }
 .input, textarea{
    width: 100%;
 }
 .recent-post{
    font-size: 14px;
 }
    
}
ul.pagination li{
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #617CEA;
  border: 1px solid #fff;
  font-weight: bold;
}
    </style>
</head>

<body>
    {{>adminsidenav}}
    <div class="main">
        <div class="container">
            <h3 class="text-center m-3">Add Job Updates</h3>
            <div class="form-container">
              {{#if messages.update_saved}}
              <div class="alert alert-success text-success" role="alert">
  Hiring Updates saved successfully!
</div>
{{/if}}
              {{#if messages.update_notsaved}}
<div class="alert alert-danger" role="alert">
  There is some problem in saving the updates. Please contact admin.
</div>
{{/if}}
                <form class="my-4" action="/admin/add-job-updates" method="post">

                    <div class="input-group-ju">
                        <label class="label">Title*</label>
                        <input autocomplete="off" name="title" id="title" class="input" type="text" required>
                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Company*</label>
                        <input name="Company" id="Company" class="input" type="text" required>
                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Experience (in Years)</label>
                        <input name="Experience" id="Experience" class="input" type="text">
                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Last Date to apply</label>
                        <input autocomplete="off" name="Last_date" id="Last_date" class="input" type="date">

                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Job Profile</label>
                        <input name="Job_profile" id="Job_profile" class="input" type="text">

                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Job Location</label>
                        <input name="job_location" id="job_location" class="input" type="text">

                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">CTC (Expected)</label>
                        <input name="CTC" id="CTC" class="input" type="text">

                        <div></div>
                    </div>
                    <div class="input-group-ju">
                        <label class="label">Company Logo link</label>
                        <input name="company_logo" id="company_logo" class="input" type="text">

                        <div></div>
                    </div>


                    <div class="input-group-ju">
                        <label class="label">Apply Link</label>
                        <input name="apply_link" id="apply_link" class="input" type="text">

                        <div></div>
                    </div>


                    <div class="input-group-ju">
                        <label class="label">Job Type*</label>
                        <select class="input form-select" name="job_type" aria-label="Default select example">
                            {{!-- <option>Open this select menu</option> --}}
                            <option value="Internship">Internship</option>
                            <option value="Full-Time Internship">Full Time Internship</option>
                            <option value="Part-Time Internship">Part Time Internship</option>
                            <option value="Job">Job</option>
                            <option selected value="Full-Time Job">Full-Time Job</option>
                            <option value="Part-Time Job">Part-Time Job</option>
                        </select>
                        <div></div>
                    </div>







                    <div class="input-group-ju">
                        <label class="label">Job Details*</label>
                        <textarea name="job_details" id="job_details"></textarea>
                        <div></div>
                    </div>


                    <div class="btn-container text-center my-5">
                        <button class="form-submit-btn" type="submit">Submit</button>

                    </div>
                </form>
            </div>
        </div>
<hr>
        {{!-- <div class="container">
            <div class="recent-post">
                <h3 class="text-center my-4">Recent Posts</h3>

                <div class="table-container">
                    <table class="table table-striped">
                        <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Company</th>
      <th scope="col">View</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each recent_post}}
    <tr>
      <th scope="row">{{ inc @index}}</th>
      <td>{{title}}</td>
      <td>{{Company}}</td>
   <td> <a href="/latest-updates/{{_id}}/{{title}}"> <button id="view-btn" class="btn-del-view"><i class="fa fa-eye"></i>View</button></a> </td>
      <td>
             <button type="button" class="btn-del-view" id="del-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}">
  <i class="fa fa-trash"></i>Delete
</button>
      </td>
<div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

     
   
      <div class="modal-body text-center">
             <h6 class="mt-4 mb-4">Are you sure you want to delete?</h6>

      </div>
      <div class="modal-footer ">
        <a href="/admin/latest-updates/delete/{{_id}}"><button type="button" class="deletebtn">Yes, Delete</button></a> 
                <button type="button" id="cancelbtn" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>


      </div>
    </div>
  </div>
</div>
    </tr>

 {{/each}}
  </tbody>
</table>
                </div>
            </div>
        </div> --}}
  





		<div class="container">
      <h5>Latest hiring Updates</h5>
      <div class="d-flex justify-content-between align-items-center my-3">
      
				<div class="form-group" style="width:35%"> 	<!--		Show Numbers Of Rows 		-->
		{{!-- <h5>Select Number Of Rows</h5> --}}
			 		<select class  ="form-control"  name="state" id="maxRows">
						 <option value="5000">Show ALL Rows</option>
						 <option value="5">5</option>
						 <option value="10">10</option>
						 <option value="15">15</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="70">70</option>
						 <option value="100">100</option>
						</select>
			 		
			  	</div>

   <div class="tb_search" style="width:35%">
<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
</div>
</div>

<table class="table table-striped table-class" id= "table-id">
  
  <thead>
	<tr>
		 {{!-- <th scope="col">#</th> --}}
      <th scope="col">Title</th>
      <th scope="col">Company</th>
      <th scope="col">View</th>
      <th scope="col">Delete</th>
	</tr>
    
  </thead>
  
 <tbody>
     {{!-- {{#each recent_post}}
	<tr>
		<td>{{@index}}</td>
		<td>{{title}}</td>
		<td>{{Company}}</td>
		<td>view btn</td>
		<td>
            del btn
        </td>
	</tr>

      {{/each}} --}}

          {{#each recent_post}}
    <tr>
      {{!-- <th scope="row">{{ inc @index}}</th> --}}
      <td>{{title}}</td>
      <td>{{Company}}</td>
   <td> <a href="/latest-updates/{{_id}}/{{title}}"> <button id="view-btn" class="btn-del-view"><i class="fa fa-eye"></i>View</button></a> </td>
      <td>
             <button type="button" class="btn-del-view" id="del-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}">
  <i class="fa fa-trash"></i>Delete
</button>
      </td>
<div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

     
   
      <div class="modal-body text-center">
             <h6 class="mt-4 mb-4">Are you sure you want to delete?</h6>

      </div>
      <div class="modal-footer ">
        <a href="/admin/latest-updates/delete/{{_id}}"><button type="button" class="deletebtn">Yes, Delete</button></a> 
                <button type="button" id="cancelbtn" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>


      </div>
    </div>
  </div>
</div>
    </tr>

 {{/each}}
 </tbody>

</table>

<!--		Start Pagination -->
			<div class='pagination-container' >
				<nav>
				  <ul class="pagination">
            
            <li data-page="prev" >
								     <span> < <span class="sr-only">(current)</span></span>
								    </li>
				   <!--	Here the JS Function Will Add the Rows -->
        <li data-page="next" id="prev">
								       <span> > <span class="sr-only">(current)</span></span>
								    </li>
				  </ul>
				</nav>
			</div>

</div> <!-- 		End of Container -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--  Developed By Yasser Mas -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount code',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });

                  getPagination('#table-id');
					//getPagination('.table-class');
					//getPagination('table');

		  /*					PAGINATION 
		  - on change max rows select options fade out all rows gt option value mx = 5
		  - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
		  - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
		  - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
		  - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows 
		  */
		 

function getPagination(table) {
  var lastPage = 1;

  $('#maxRows')
    .on('change', function(evt) {
      //$('.paginationprev').html('');						// reset pagination

     lastPage = 1;
      $('.pagination')
        .find('li')
        .slice(1, -1)
        .remove();
      var trnum = 0; // reset tr counter
      var maxRows = parseInt($(this).val()); // get Max Rows from select option

      if (maxRows == 5000) {
        $('.pagination').hide();
      } else {
        $('.pagination').show();
      }

      var totalRows = $(table + ' tbody tr').length; // numbers of rows
      $(table + ' tr:gt(0)').each(function() {
        // each TR in  table and not the header
        trnum++; // Start Counter
        if (trnum > maxRows) {
          // if tr number gt maxRows

          $(this).hide(); // fade it out
        }
        if (trnum <= maxRows) {
          $(this).show();
        } // else fade in Important in case if it ..
      }); //  was fade out to fade it in
      if (totalRows > maxRows) {
        // if tr total rows gt max rows option
        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
        //	numbers of pages
        for (var i = 1; i <= pagenum; ) {
          // for each page append pagination li
          $('.pagination #prev')
            .before(
              '<li data-page="' +
                i +
                '">\
								  <span>' +
                i++ +
                '<span class="sr-only">(current)</span></span>\
								</li>'
            )
            .show();
        } // end for i
      } // end if row count > max rows
      $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
      $('.pagination li').on('click', function(evt) {
        // on click each page
        evt.stopImmediatePropagation();
        evt.preventDefault();
        var pageNum = $(this).attr('data-page'); // get it's number

        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

        if (pageNum == 'prev') {
          if (lastPage == 1) {
            return;
          }
          pageNum = --lastPage;
        }
        if (pageNum == 'next') {
          if (lastPage == $('.pagination li').length - 2) {
            return;
          }
          pageNum = ++lastPage;
        }

        lastPage = pageNum;
        var trIndex = 0; // reset tr counter
        $('.pagination li').removeClass('active'); // remove active class from all li
        $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
        // $(this).addClass('active');					// add active class to the clicked
	  	limitPagging();
        $(table + ' tr:gt(0)').each(function() {
          // each tr in table not the header
          trIndex++; // tr index counter
          // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
          if (
            trIndex > maxRows * pageNum ||
            trIndex <= maxRows * pageNum - maxRows
          ) {
            $(this).hide();
          } else {
            $(this).show();
          } //else fade in
        }); // end of for each tr in table
      }); // end of on click pagination list
	  limitPagging();
    })
    .val(5)
    .change();

  // end of on select change

  // END OF PAGINATION
}

function limitPagging(){
	// alert($('.pagination li').length)

	if($('.pagination li').length > 7 ){
			if( $('.pagination li.active').attr('data-page') <= 3 ){
			$('.pagination li:gt(5)').hide();
			$('.pagination li:lt(5)').show();
			$('.pagination [data-page="next"]').show();
		}if ($('.pagination li.active').attr('data-page') > 3){
			$('.pagination li:gt(0)').hide();
			$('.pagination [data-page="next"]').show();
			for( let i = ( parseInt($('.pagination li.active').attr('data-page'))  -2 )  ; i <= ( parseInt($('.pagination li.active').attr('data-page'))  + 2 ) ; i++ ){
				$('.pagination [data-page="'+i+'"]').show();

			}

		}
	}
}

$(function() {
  // Just to append id number for each row
  $('table tr:eq(0)').prepend('<th> ID </th>');

  var id = 0;

  $('table tr:gt(0)').each(function() {
    id++;
    $(this).prepend('<td>' + id + '</td>');
  });
});

//  Developed By Yasser Mas
// yasser.mas2@gmail.com




         
    const deleteBtns = document.querySelectorAll('.delete-btn');
const customAlert = document.querySelector('.custom-alert');
const customAlertConfirmBtn = document.getElementById('custom-alert-confirm-btn');
const customAlertCancelBtn = document.getElementById('custom-alert-cancel-btn');

deleteBtns.forEach(function(deleteBtn) {
  deleteBtn.addEventListener('click', function() {
    customAlert.style.display = 'block';
  });
});
      deleteBtn.addEventListener("click", function () {
        customAlert.style.display = "block";
      });

      customAlertConfirmBtn.addEventListener("click", function () {
        // Perform delete action
        console.log("Deleted!");
        customAlert.style.display = "none";
      });

      customAlertCancelBtn.addEventListener("click", function () {
        // Cancel delete action
        console.log("Canceled!");
        customAlert.style.display = "none";
      });
    



// All Table search script
function FilterkeyWord_all_table() {
  
// Count td if you want to search on all table instead of specific column

  var count = $('.table').children('tbody').children('tr:first-child').children('td').length; 

        // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_input_all");
  var input_value =     document.getElementById("search_input_all").value;
        filter = input.value.toLowerCase();
  if(input_value !=''){
        table = document.getElementById("table-id");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
          
          var flag = 0;
           
          for(j = 0; j < count; j++){
            td = tr[i].getElementsByTagName("td")[j];
            if (td) {
             
                var td_text = td.innerHTML;  
                if (td.innerHTML.toLowerCase().indexOf(filter) > -1) {
                //var td_text = td.innerHTML;  
                //td.innerHTML = 'shaban';
                  flag = 1;
                } else {
                  //DO NOTHING
                }
              }
            }
          if(flag==1){
                     tr[i].style.display = "";
          }else {
             tr[i].style.display = "none";
          }
        }
    }else {
      //RESET TABLE
      $('#maxRows').trigger('change');
    }
}


    </script>
</body>

</html>