<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Languages</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        



        
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="jquery/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"    href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>


    <style>

      
        body{
            background-color: #EDF2F9;
        }
        #language-nav-item{
           background-color: #617CEA;
            border-radius: 10px;
        }

        #language-nav-item {
    background-color: #617CEA;
    border-radius: 10px;
}
            .card-btn{

        margin: 6px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;

        text-decoration: none;
          justify-content: center;
        align-items: center;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
padding: 16px 20px;   
 
border: 2px solid #617CEA;   
         
    }
    .lang-card-link {
      text-decoration: none;
    }
    .card-btn:hover{
         transform-origin: top center;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  transition: 0.2s ease;
  cursor: pointer;
 
    }
    h4{
       
        color: black;
      
    }
    .another-container{
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
     th.btn-td {
    width: 120px;
}
h3{
    text-align: center;


}
.index{
    width: 80px;
}
.ques{
    width: 500px;
}
tr{
    background-color: white;
}
.main{
  margin-left: 270px;
}
.showing-container{
  font-size: 14px;
}

.dataTables_wrapper{
  font-size: 14px
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200&family=Nunito+Sans:opsz,wght@6..12,200&family=Open+Sans:wght@500&family=Poppins:wght@300&family=Roboto+Slab&display=swap');


.wrapper {
  font-family: 'Inter';
}
      .dataTables_filter {
        float: right;
      }
      .table-hover > tbody > tr:hover {
        background-color: #dbdada;
      }

      thead tr{
        background-color: #617CEA;
        color: #fff;
      }
      @media only screen and (min-width: 768px) {
        .table {
          table-layout: fixed;
          max-width: 100% !important;
        }
      }
      thead {
        background: #ddd;
      }
      .table td:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .highlight {
        background: #ff9;
      }
      @media only screen and (max-width: 767px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
          /* Hide table headers (but not display: none;, for accessibility) */
        }
        thead tr,
        tfoot tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        td {
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50% !important;
        }
        td:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
        }
        .table td:nth-child(1) {
          background: #ccc;
          height: 100%;
          top: 0;
          left: 0;
          font-weight: bold;
          /*
     Label the data
     */
        }
        td:nth-of-type(1):before {
          content: "#";
        }
        td:nth-of-type(2):before {
          content: "Question";
        }
        td:nth-of-type(3):before {
          content: "Topic";
        }
        td:nth-of-type(4):before {
          content: "Difficulty";
        }
        td:nth-of-type(5):before {
          content: "View";
        }
        td:nth-of-type(6):before {
          content: "Update";
        }
        td:nth-of-type(7):before {
          content: "Delete";
        }
        .dataTables_length {
          display: none;
        }
      }



div#DataTables_Table_0_length label {
  display: flex;
  font-weight: 500;
  align-items: center;
  padding: 6px 0px;
}
div#DataTables_Table_0_length label select{
  margin: 0px 5px;
  outline: none;
  box-shadow: none;
}
div#DataTables_Table_0_filter label{
  font-weight: 500;
}
div#DataTables_Table_0_filter label input{
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

div#DataTables_Table_0_info{
  font-weight: 500;
  color: #919090;
}

.admin-view-btn{
  border: 1px solid skyblue;
  border-radius: 12px;
  padding: 4px 12px;
  color: #fff;


}
.admin-update-btn{
  border: 1px solid skyblue;
  border-radius: 12px;
  padding: 4px 12px;
  color: #fff;


}
.admin-delete-btn{
  border: 1px solid skyblue;
  border-radius: 12px;
  padding: 4px 12px;
  color: #fff;


}

input[type="search"]{
   padding: 8px;
  border: 2px solid #ccc;
  border-radius: 8px;
}









#success{
  background:#03a679;
  color:#f0f0f0;  
}

#failure{
  background:#ff3939;
  color:#f0f0f0;  
}

.notify{  
  position:absolute;
  top:10px;
  width:250px;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  overflow:hidden;
  box-sizing:border-box;
  right: 35%;
  transition:height .4s;
  border-radius: 4px;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  
}

.active{  
  height:50px;

      display: flex;
    align-items: center;
    justify-content: center;
}

.success:before{

}

.failure:before{
  Content:"Oh no! Something didn't go as planned :(";
}
    </style>

</head>
<body>
  {{>adminsidenav}}
  <div class="main">

{{#if messages.success}}
<div class="notify bg-success"><span id="notifyType" class="">
  <i style="font-size:22px;" class="fa-solid fa-circle-check"></i> Successfully Deleted!
</span></div>
{{/if}}
    

    




    <div class="container">
            <h2 style="font-family: Inter; color:#617CEA" class="my-3 ">Upload</h2>
          <div class="another-container">
            
           <a class="lang-card-link"  href="/admin/language/upload/c"> <div class="card-btn">
               <h5 class="fw-bold" >C Questions</h5>
            </div>
            </a>
            <a class="lang-card-link"  href="/admin/language/upload/cpp"> <div class="card-btn">
               <h5 class="fw-bold">Cpp Questions</h5>
            </div>
            </a>
            <a class="lang-card-link"  href="/admin/language/upload/python"> <div class="card-btn">
               <h5 class="fw-bold">Python Questions</h5>
            </div>
            </a>
            <a  class="lang-card-link" href="/admin/language/upload/java"> <div class="card-btn">
               <h5 class="fw-bold">Java Questions</h5>
            </div>
            </a>
        

          <a class="lang-card-link" href="/admin/language/upload/javascript"> <div class="card-btn">
               <h5 class="fw-bold">JavaScript Questions</h5>
            </div>
            </a>
        </div>


      </div>


        <div class="showing-container">



          <div class="container wrapper my-4">
               <h3>C Questions</h3>
      <table
        class="table table-bordered table-striped table-hover"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="col-md">#</th>
            <th class="col-md-2">Questions</th>
            <th class="col-md-2">Topic</th>
            <th class="col-md-1">Difficulty</th>
            <th class="col-md">View</th>
            <th class="col-md-1">Update</th>
            <th class="col-md-1">Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
         <th>#</th>
            <th>Questions</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
           {{#each Cs}}
          <tr>

              <td>{{inc @index}}</td>
            <td>{{question}}</td>
            <td>{{topic}}</td>
            <td>
              {{#isEqual   level "Easy"}}
                           <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-success pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Medium"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-warning pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Hard"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-danger pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
            </td>
            <td class="text-center">
              <a href="/language/c/{{_id}}/{{question}}">
              <button class="admin-view-btn bg-info">view</button></td>
              </a>
            <td class="text-center">
              {{!-- <a href="/admin/languages/update/c/{{{_id}}}"> --}}
              <button class="admin-update-btn bg-warning">Update</button>
              {{!-- </a> --}}
              </td>
            <td class="text-center">
             
              <button class="admin-delete-btn bg-danger" data-bs-toggle="modal" data-bs-target="#CModel{{@index}}">Delete</button></td>
          </tr>



          <!-- Modal -->
<div class="modal fade" id="CModel{{@index}}" tabindex="-1" aria-labelledby="CModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CModelLabel">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{question}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin/language/delete/{{_id}}">
        <button type="button" class="btn btn-danger">Yes, Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
         
        {{/each}}
          
       
        </tbody>
      </table>
    </div>
          <div class="container wrapper my-4">
               <h3>C++ Questions</h3>
      <table
        class="table table-bordered table-striped table-hover"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="col-md">#</th>
            <th class="col-md-2">Questions</th>
            <th class="col-md-2">Topic</th>
            <th class="col-md-1">Difficulty</th>
            <th class="col-md">View</th>
            <th class="col-md-1">Update</th>
            <th class="col-md-1">Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
         <th>#</th>
            <th>Questions</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
           {{#each cpps}}
          <tr>

              <td>{{inc @index}}</td>
            <td>{{question}}</td>
            <td>{{topic}}</td>
            <td>
              {{#isEqual   level "Easy"}}
                           <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-success pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Medium"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-warning pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Hard"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-danger pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
            </td>
            <td class="text-center">
              <a href="/language/cpp/{{_id}}/{{question}}">
              <button class="admin-view-btn bg-info">view</button></td>
              </a>
            <td class="text-center">
              {{!-- <a href="/admin/languages/update/c/{{{_id}}}"> --}}
              <button class="admin-update-btn bg-warning">Update</button>
              {{!-- </a> --}}
              </td>
            <td class="text-center">
             
              <button class="admin-delete-btn bg-danger" data-bs-toggle="modal" data-bs-target="#CppModel{{@index}}">Delete</button></td>
          </tr>



          <!-- Modal -->
<div class="modal fade" id="CppModel{{@index}}" tabindex="-1" aria-labelledby="CppModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CppModelLabel">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{question}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin/language/delete/{{_id}}">
        <button type="button" class="btn btn-danger">Yes, Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
         
        {{/each}}
          
       
        </tbody>
      </table>
    </div>
          <div class="container wrapper my-4">
               <h3>Java Questions</h3>
      <table
        class="table table-bordered table-striped table-hover"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="col-md">#</th>
            <th class="col-md-2">Questions</th>
            <th class="col-md-2">Topic</th>
            <th class="col-md-1">Difficulty</th>
            <th class="col-md">View</th>
            <th class="col-md-1">Update</th>
            <th class="col-md-1">Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
         <th>#</th>
            <th>Questions</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
           {{#each javas}}
          <tr>

              <td>{{inc @index}}</td>
            <td>{{question}}</td>
            <td>{{topic}}</td>
            <td>
              {{#isEqual   level "Easy"}}
                           <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-success pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Medium"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-warning pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Hard"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-danger pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
            </td>
            <td class="text-center">
              <a href="/language/java/{{_id}}/{{question}}">
              <button class="admin-view-btn bg-info">view</button></td>
              </a>
            <td class="text-center">
              {{!-- <a href="/admin/languages/update/c/{{{_id}}}"> --}}
              <button class="admin-update-btn bg-warning">Update</button>
              {{!-- </a> --}}
              </td>
            <td class="text-center">
             
              <button class="admin-delete-btn bg-danger" data-bs-toggle="modal" data-bs-target="#JavaModel{{@index}}">Delete</button></td>
          </tr>



          <!-- Modal -->
<div class="modal fade" id="JavaModel{{@index}}" tabindex="-1" aria-labelledby="JavaModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="JavaModelLabel">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{question}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin/language/delete/{{_id}}">
        <button type="button" class="btn btn-danger">Yes, Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
         
        {{/each}}
          
       
        </tbody>
      </table>
    </div>
          <div class="container wrapper my-4">
               <h3>Python Questions</h3>
      <table
        class="table table-bordered table-striped table-hover"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="col-md">#</th>
            <th class="col-md-2">Questions</th>
            <th class="col-md-2">Topic</th>
            <th class="col-md-1">Difficulty</th>
            <th class="col-md">View</th>
            <th class="col-md-1">Update</th>
            <th class="col-md-1">Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
         <th>#</th>
            <th>Questions</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
           {{#each pythons}}
          <tr>

              <td>{{inc @index}}</td>
            <td>{{question}}</td>
            <td>{{topic}}</td>
            <td>
              {{#isEqual   level "Easy"}}
                           <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-success pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Medium"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-warning pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Hard"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-danger pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
            </td>
            <td class="text-center">
              <a href="/language/python/{{_id}}/{{question}}">
              <button class="admin-view-btn bg-info">view</button></td>
              </a>
            <td class="text-center">
              {{!-- <a href="/admin/languages/update/c/{{{_id}}}"> --}}
              <button class="admin-update-btn bg-warning">Update</button>
              {{!-- </a> --}}
              </td>
            <td class="text-center">
             
              <button class="admin-delete-btn bg-danger" data-bs-toggle="modal" data-bs-target="#PythonModel{{@index}}">Delete</button></td>
          </tr>



          <!-- Modal -->
<div class="modal fade" id="PythonModel{{@index}}" tabindex="-1" aria-labelledby="PythonModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PythonModelLabel">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{question}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin/language/delete/{{_id}}">
        <button type="button" class="btn btn-danger">Yes, Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
         
        {{/each}}
          
       
        </tbody>
      </table>
    </div>
  
          <div class="container wrapper my-4">
               <h3>Javascript Questions</h3>
      <table
        class="table table-bordered table-striped table-hover"
        cellspacing="0"
        width="100%"
      >
        <thead>
          <tr>
            <th class="col-md">#</th>
            <th class="col-md-2">Questions</th>
            <th class="col-md-2">Topic</th>
            <th class="col-md-1">Difficulty</th>
            <th class="col-md">View</th>
            <th class="col-md-1">Update</th>
            <th class="col-md-1">Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
         <th>#</th>
            <th>Questions</th>
            <th>Topic</th>
            <th>Difficulty</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody>
           {{#each javascripts}}
          <tr>

              <td>{{inc @index}}</td>
            <td>{{question}}</td>
            <td>{{topic}}</td>
            <td>
              {{#isEqual   level "Easy"}}
                           <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-success pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Medium"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-warning pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
                {{#isEqual   level "Hard"}}
                            <span style="font-size: 13px;white-space: nowrap; font-family:'Inter';letter-spacing:1px" class="fw-bold text-danger pr-2">{{level}} 
                            </span>
                            {{/isEqual}}
            </td>
            <td class="text-center">
              <a href="/language/javascript/{{_id}}/{{question}}">
              <button class="admin-view-btn bg-info">view</button></td>
              </a>
            <td class="text-center">
              {{!-- <a href="/admin/languages/update/c/{{{_id}}}"> --}}
              <button class="admin-update-btn bg-warning">Update</button>
              {{!-- </a> --}}
              </td>
            <td class="text-center">
             
              <button class="admin-delete-btn bg-danger" data-bs-toggle="modal" data-bs-target="#JS{{@index}}">Delete</button></td>
          </tr>



          <!-- Modal -->
<div class="modal fade" id="JS{{@index}}" tabindex="-1" aria-labelledby="JSLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="JSLabel">Are you sure you want to delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      {{question}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/admin/language/delete/{{_id}}">
        <button type="button" class="btn btn-danger">Yes, Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
         
        {{/each}}
          
       
        </tbody>
      </table>
    </div>



   
        </div>
    

   



{{!-- //////////////////////////////////////////////// --}}
















     </div>


    
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
 <script>
      $(document).ready(function () {
        $(".table").DataTable({
          // Disable sorting on the last column
          columnDefs: [{ orderable: false, targets: 5 }],
          language: {
            // Customize pagination prev and next buttons: use arrows instead of words
            paginate: {
              previous: '<span class="fa fa-chevron-left"></span>',
              next: '<span class="fa fa-chevron-right"></span>'
            },
            // Customize the number of elements to be displayed
            lengthMenu:
              'Display <select class="form-control input-sm">' +
              '<option value="10">10</option>' +
              '<option value="20">20</option>' +
              '<option value="30">30</option>' +
              '<option value="40">40</option>' +
              '<option value="50">50</option>' +
              '<option value="-1">All</option>' +
              "</select> results"
          }
        });
      });












 
//$("#success").click(function () {
  $(".notify").toggleClass("active");
  $("#notifyType").toggleClass("success");
  
  setTimeout(function(){
    $(".notify").removeClass("active");
    $("#notifyType").removeClass("success");
  },3000);
//});





    </script>


   
</body>
</html>