<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download free pdf of Books</title>

    <meta name="description" content="Download pdf of books from our collections. Learnbits is designed to help you achieve your goals and advance your career.Get pdf of books, placement prepration, interview prepration,programming language and many more!">
  <meta name="keywords" content="e-learning,placement prepration, Programming languages, interview prepration,self paced learingin, online certifications, pdf of books , engineering">


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9264128760734539"
     crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 {{!-- <script src="index.js"></script> --}}
 {{!-- <script data-ad-client="ca-pub-9264128760734539" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> --}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9264128760734539"
     crossorigin="anonymous"></script>
    <style>
    
        .box-1.bg-secondary {
    display: flex;
/* width: 600px; */
    padding: 10px;
}
.books-container.bg-light {
    padding: 20px;

    
}
.row {
    margin-top: 8px;
   
}
.book-details {
    width: 100%;
    padding: 5px;
}



.side-items{
    width: 100%;
    padding: 20px;
    margin-left: 20px;
}
.btn-book{
background-color: rgb(77, 182, 172);
border: none;
border-radius: 8px;
width: 40px;

}
#book-search-bar{
    width: 60%;
    border-radius: 15px;

}
#book-search-form{
    justify-content: center;
    padding: 15px;
}
.search-book-here{
    text-align: center;
    padding: 5px;

}
.container {
    margin-top: 10px;
}
.other-links-book-page{
    margin-top: 20px;
    padding: 10px;

}
.book-page-li{
    text-decoration: none;
    padding: 5px;
   

}
img {
    width: 100%;
    height: 100%;
}
.other-link-book{
    text-decoration: none;
    padding: 3px;
    
}
.para_border {
    margin-bottom: 20px;
    padding: 8px;
    background-color: #ffffff;
    border-left: 6px solid teal;
    border-radius: 4px;
}
.para_border:hover {
  background-color: #7fb8b1;
  color: black;
  cursor: pointer;
}
.para_border  a{
    text-decoration: none;
    color: black;
}
.no-books{
    text-align: center;
    padding: 30px;
    background-color: #f3aeae94;
    border: 1px solid;
    border-radius: 5px;
    width: 90%;
    
}
@media screen and (max-width:992px){
    .side-items{
        display: none;
    }
    /* .container{
        /* justify-content: center; 
    } */
   
    .left-container.col-md-8.shadow{
        justify-content: center;
    }
}
@media screen and (max-width:768px){
    /*.box-1{
        width: 80%;
    }*/
     .aside.col-4{
        display: none;
    }
    .cover-image{
        width: 200px;
    }
}
@media screen and (max-width:480x){
  

}


.no-books{
    margin: auto;
}
.search-book-container.bg-light {
    margin-top: 8px;
    margin-bottom: 10px;
}
.book-details {
    margin-left: 8px;
}

.row{
    display: flex;
    flex-direction: row;
}
.left-side-container {
    width: 60%;
}




    .box{
        display: flex;
        border-radius: 10px;
        background: rgb(245, 245, 245);
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       
    }
    i.far.fa-file-pdf{
        font-size: 90px;
        align-self: center;
        margin-right: 10px;
        color: rgb(244, 67, 54);
        cursor: pointer;
    }
    i.far.fa-file-pdf:hover{
       color: lightcoral;
    }
    p.class-of-details-1 {
    font-size: 15px;
    margin-bottom: 14px;
}
.book-details-1.m-2{
    width: 100%;
}
i.fas.fa-pen,i.fas.fa-tags{
    color: gray;
}
.pdf-icon-container{
    align-self: center;

}
.pdf-icon-container{
    padding: 25px;
    align-items: center;
}
.pdf-title-styling{
    color: black;


}
@media screen and (max-width: 480px){
    .pdf-icon-container{
        padding: 5px;
    }
    p.class-of-details-1{
        font-size: 13px;
        
    }
    .pdf-title-styling{
        font-size: 17px;
    }
}



/*
PAGINATION STYLING
  */

  ul.pagination{
      justify-content: space-between;
  }
  a.page-link{
      background-color: rgb(38, 166, 154);
      color: #ffff;
      border-radius: 30px;
  }
    a.page-link:visited{
      background-color:rgb(86, 179, 169);
      color: #ffff;
  }
  a.page-link:hover{
      background-color:rgb(86, 179, 169);
      color: #ffff;
  }
    a.page-link:active{
      background-color:rgb(86, 179, 169);
      color: #ffff;
  }
span.page-link{
    border-radius: 30px;
}
.page-item:first-child .page-link,.page-item:first-child .page-link {
     border-top-left-radius: 30px !important; 
    border-bottom-left-radius: 30px !important; 
}
.page-item:last-child .page-link,.page-item:last-child .page-link{
        border-top-right-radius: 30px !important; 
    border-bottom-right-radius: 30px !important; 
}

        
    </style>
</head>
<body>
    {{>navbar}}

    <div class="container">
        <div class="row">
            <div class="left-container col-md-8 shadow">
                <h3>Available Books</h3>
            <hr> 

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Disclamer!</strong> We do not sell any book or any courses. The books displayed below are already on the internet and these material are only for the students who cannot pay much for the books. If you have any concern about this you can <a href="/contact">Contact Us</a>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

             {{!-- <div class="no-books">
                <h6>No Books yet.</h6>
            </div> --}}
{{#each books}}
            <div class="box p-2 mb-5">
           <div class="pdf-icon-container">
             <i class="far fa-file-pdf "></i>
            </div>

  
            <div class="book-details-1 m-2">
              
                <h4><a class="pdf-title-styling" href="/books/{{_id}}/{{bookname}}"> {{bookname}} </a></h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum odit animi officiis mollitia? Quis, quidem ab, voluptate totam provident facilis possimus voluptatem vel nesciunt quia harum aspernatur. Eum, adipisci itaque.</p> -->
                <p class="class-of-details-1"><i class="fas fa-pen"></i> {{Auther}}</p>
                <p class="class-of-details-1"><i class="fas fa-tags"></i> {{tags}}</p>
            
                <div class="book-download-btn-1">
                    <a class="btn btn-primary" href="/books/{{_id}}/{{bookname}}"  role="button">Download <i class="fas fa-download"></i></a>
                </div>
            </div>
         
         </div>
     {{/each}}
      
       <nav aria-label="Page navigation example">
  <ul class="pagination">
       {{#if firstpage}}
     <li class="page-item disabled ml-5">
      <span class="page-link">Previous</span>
      {{else}}
    <li class="page-item ml-5"><a class="page-link" href="?page={{prevp}}"><i class="fas fa-arrow-circle-left"></i> Previous</i></a></li>
 {{/if}}
    

  {{#if lastpage}}
  <li class="page-item disabled">
      <span class="page-link">Next</span>
    </li>
    {{else}}
    <li class="page-item mr-5"><a class="page-link" href="?page={{nextp}}">Next <i class="fas fa-arrow-circle-right"></i></a></li>
   {{/if}}
  </ul>
</nav>
   


          

  

          
           


            </div>
            <div class="aside col-4">

                 <!--                SEARCH BOOK BOX          -->
            
            
            
            {{!-- <div class="side-items "> --}}
                <div class="search-book-container bg-light">
                    <h6 class="search-book-here">Search book here.</h6>
                    <form action="/book-search/" class="d-flex" id="book-search-form">
                        <input class="form-control me-2" id="book-search-bar" name="bname" type="search" placeholder="Search book" aria-label="Search">
                        <button class="btn-book" type="submit"><span><i class="fa fa-search"></span></i></button>
                      </form>

                </div>

          <h4>TOPICS</h4>
          <hr>
         
                  <p class="para_border shadow"><a href="/language/c">C Questions</a> </p>
                       <p class="para_border shadow"><a href="/language/cpp">C++ Questions</a></p>
                       <p class="para_border shadow"><a href="/language/python">Python Questions</a></p>
                       <p class="para_border shadow"><a href="/language/java">Java Questions</a></p>
                       <p class="para_border shadow"><a href="/language/javascript">JavaScript Questions</a></p>
                       {{!-- <p class="para_border shadow"><a href="/cse-it/questions">Computer Science Engineering </a></p> --}}
                        {{!-- <p class="para_border shadow"><a href="/ME/questions">Mechanical Engineering </a></p> --}}
                        {{!-- <p class="para_border shadow"><a href="/MCQ/CSE-IT">Computer Science Engineering (MCQs) </a></p> --}}
                        {{!-- <p class="para_border shadow"><a href="/MCQ/ME">Mechanical Engineering(MCQs) </a></p> --}}
 
        </div>

        </div>
    </div>

    {{>Footer}}

  
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
