<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Experinces</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@500&family=Roboto+Slab&display=swap');

        body {
            background-color: #F5F7FF !important;

        }
        

        .box-int-exp {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 16px;
            font-family: 'Inter';
            margin: 12px;
            background-color: #fff;
        }
        .boxes-container-int-exp{
            width: 60%;
            border-radius: 8px;
        }
        .like-btn-container button{
            background-color: #617CEA;
            color: #fff;
            font-size: 12px;
            border: none;
            border-radius: 6px;
            padding: 5px 14px;
        }



.toast
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toast ,.toast-body{
    background-color: #fff !important;
 opacity: 1 !important;
   
}
.toast-body{
    display: flex;
  align-items: center;
}

.toast-body .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.toast-body .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #617CEA;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.box-content{
  overflow-x: scroll;
}

.box-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.box-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.heading-container{
  font-family: 'Inter';
  font-weight: 500;

  color: #4DB6AC;

}

        @media screen and (max-width:767px) {
            .boxes-container-int-exp{
                width: 100%;
               
            }
          
        }
        .box-int-exp{

                padding: 12px;
                margin: 16px 0px;
        }


@media screen and (max-width:480px) {
    div#liveToastBtn {
    width: 98% !important;
    margin: auto;
}
#main-container{
  padding: 8px;
}
}
    </style>

<body>

    {{>navbar}}



    <div id="main-container" class="container-fluid">
      
        <div class="boxes-container-int-exp">
          <div class="heading-container my-3">
            <h5>Interview Experinces</h5>
            <hr class="m-0">

          </div>
            {{#each int_exp}}
            <div class="box-int-exp">
                <div class="box-header">
                    
                    <h6><img width="60px" src="/images/icons8-user-avatar-100.png" alt="">{{username}}</h6>
                    <p class="text-secondary mb-1 fw-bold">{{compname}} | {{position}}</p>

                    <p style="font-size: 14px;" class="text-secondary">Interview Date : {{date_of_int}} {{#if mode}} | <span
                      class="mode">Virtual</span>{{/if}}</p>

                </div>
                <div class="box-content">
            {{{int_exp}}}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum iure nisi ducimus, repudiandae atque beatae necessitatibus laudantium illo dolorem in ipsa ratione velit pariatur! Qui, temporibus! Sint, vo
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque expedita aut qui minima reiciendis id cupiditate magnam! Non iste numquam vel, quia nobis totam architecto iure fugit cupiditate quibusdam nam?</p>luptatem eos!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum iure nisi ducimus, repudiandae atque beatae necessitatibus laudantium illo dolorem in ipsa ratione velit pariatur! Qui, temporibus! Sint, voluptatem eos!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni, tenetur mollitia corrupti numquam, ratione odit nemo blanditiis velit aut ab at inventore quos nesciunt, dicta repellendus explicabo incidunt quisquam!
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos maxime atque nihil magni nemo temporibus impedit ea quaerat, ipsum a saepe deleniti minus, est nam repellendus vitae. Consectetur, dolor provident.</p>
                </div>
                
                 <p style="font-size: 14px;" class="text-secondary mb-2" >Posted on : {{date}}</p>

                <div class="box-foot d-flex justify-content-between align-self-center">
                    <div class="align-self-center">
 {{!-- <i style="font-size: 18px;" class="fa-solid fa-chart-line text-secondary"></i> | --}}
                    <i style="font-size: 18px;"  class="fa-regular fa-thumbs-up text-secondary"></i> <span style="font-size: 14px;" >{{likes}}</span>

                    </div>
                    <div class="like-btn-container">
                      <a type="submit" href="/Placement-Prepration/interview-prep/interview-experience/{{_id}}/like">  <button ><i class="fa-solid fa-thumbs-up text-light"></i> Helpful</button></a>
                    </div>
                   
                </div>


            </div>

            {{/each}}
            {{!-- <div class="box-int-exp">
                <div class="box-header">
                    
                    <h6><img width="60px" src="/images/icons8-user-avatar-100.png" alt=""> Sukhendu</h6>
                    <p class="text-secondary mb-1 fw-bold">Cognizant | Programmer analyst trainee</p>
                    <p style="font-size: 14px;" class="text-secondary">Interview Date : 13 Aug 2022 | <span
                      class="mode">Virtual</span></p>

                </div>
                <div class="box-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum iure nisi ducimus, repudiandae atque beatae necessitatibus laudantium illo dolorem in ipsa ratione velit pariatur! Qui, temporibus! Sint, vo
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque expedita aut qui minima reiciendis id cupiditate magnam! Non iste numquam vel, quia nobis totam architecto iure fugit cupiditate quibusdam nam?</p>luptatem eos!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laborum iure nisi ducimus, repudiandae atque beatae necessitatibus laudantium illo dolorem in ipsa ratione velit pariatur! Qui, temporibus! Sint, voluptatem eos!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni, tenetur mollitia corrupti numquam, ratione odit nemo blanditiis velit aut ab at inventore quos nesciunt, dicta repellendus explicabo incidunt quisquam!
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos maxime atque nihil magni nemo temporibus impedit ea quaerat, ipsum a saepe deleniti minus, est nam repellendus vitae. Consectetur, dolor provident.</p>
                </div>
                
                 <p style="font-size: 14px;" class="text-secondary mb-2" >Posted on : 12 June 2023</p>

                <div class="box-foot d-flex justify-content-between align-self-center">
                    <div class="align-self-center">
                    <i style="font-size: 18px;"  class="fa-regular fa-thumbs-up text-secondary"></i> <span style="font-size: 14px;" >1234</span>

                    </div>
                    <div class="like-btn-container">
                        <button><i class="fa-solid fa-thumbs-up text-light"></i> Helpful</button>
                    </div>
                   
                </div>


            </div> --}}
          
        </div>
    </div>







{{!-- NOTIFICATION --}}

{{#if messages.liked}}

 <div class="toast-container position-fixed top-0 top-0 start-50 translate-middle-x p-3">
  <div  class="toast" id="liveToastBtn" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header float-right">
 
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
            <i class="fas fa-solid fa-thumbs-up check"></i>

         <div class="message">

      <span class="text text-1">Liked</span>
      <span class="text text-2">Successfully liked!</span>
    </div>
  </div>
    </div>

  </div> 
  {{/if}}
  

  {{#if messages.alreadyliked}}
 <div class="toast-container position-fixed top-0 top-0 start-50 translate-middle-x p-3">
  <div  class="toast" id="liveToastBtn" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header float-right">
 
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
            <i class="fas fa-solid fa-thumbs-up check"></i>

         <div class="message">

      <span class="text text-1">Liked!</span>
      <span class="text text-2">You have already liked!</span>
    </div>
  </div>
    </div>

  </div> 
  {{/if}}



    {{>Footer}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
        

            <script>

             // Function to show the toast
    function showToast() {
      var toast = document.getElementById('liveToastBtn');
      var bsToast = new bootstrap.Toast(toast);

      // Show the toast
      bsToast.show();

      

      // Close the toast only when clicked
      toast.addEventListener('click', function () {
        bsToast.hide();
      });
    }



 

    // Call the showToast function to show the toast
    showToast();

    

        </script>
</body>

</html>