<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>

  <link rel="stylesheet" href="/nav-foot.css">
  <script src="index.js"></script>
 
 

  {{>headerlinks}}


  <style>
    body {
      background-color: #F5F7FF !important;

    }

    .badge-container {
      /* background-color:  rgb(128, 203, 196); */
      background-color: #fff;

      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 12px;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      font-family: 'Inter';

    }

    #user-circle-id {
      font-size: 150px;

      padding: 20px 40px;
      text-align: center;
      color: #009688;
    }

    .profile-container {
      background-color: #fff;
      width: 100%;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .username {
      text-align: center;
      color: #525252;

    }

    .email,
    .username-an,
    .another-links {
      padding: 10px;
      margin: 40px;
      border-radius: 8px;
      overflow-wrap: break-word;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    /* .cng-pass{
            text-decoration: none;
            color: black;
        } */
    .another-links {
      color: black;
    }

    .logout-btn {
      text-align: center;
      padding: 5px;
      /* text-decoration: none; */
    }

    a.btn.btn-primary {
      background-color: #4DB6AC;
      border: 2px solid #009688;
      width: 60%;
      font-variant: all-petite-caps;
      letter-spacing: 0.5px;
      font-weight: 500;
    }

    a.btn.btn-primary:hover,
    a.btn.btn-primary:focus {
      outline: none;
      box-shadow: none !important;
      background-color: #00796B !important;

    }

    i.fas.fa-chevron-right {
      float: right;
      margin-right: 5px;
      color: teal;
    }

    span {
      font-family: 'Inter';
    }

    @media screen and (max-width:480px) {
      .container {
        padding: 0;
      }

      .email,
      .username-an,
      .another-links {
        margin: 20px;
      }

      .contest-card-profile {
        margin: 6px 0px !important;
      }
    }

    @media screen and (max-width:768px) {
      .flex-container {
        flex-direction: column;
      }

      .side_1.m-3,
      .profile-container.m-3 {
        width: auto;
        margin: 12px 0 !important;
      }

      .profile-container {
        font-size: 14px;
      }

      #fluid-cont {
        padding: 8px !important;
      }
    }



    .flex-container {
      display: flex;
    }

    .side_1 {

      border-radius: 6px;
    }

    .link-in-profile-page:hover,
    .link-in-profile-page:focus {
      text-decoration: none;
    }

    .box-contribution {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding: 12px;
      margin: 8px;
      border-radius: 4px;
      background-color: #fff;
    }

    .head-btns .head-view-btn,
    .head-btns .head-delete-btn {
      font-size: 14px;
      border-radius: 12px;
      border: none;
      padding: 8px 20px;
      margin: 3px 6px;
      font-weight: 500;
      letter-spacing: 0.4px;
      font-family: 'Inter';
      color: #fff;
      width: 100px;
      background-color: #617CEA;

    }

    .head-btns .head-view-btn {
      background-color: #617CEA;
      border: 1.5px solid #1963b8e9;
    }

    .head-btns .head-delete-btn {
      background-color: #FF4747;
      border: 1.5px solid #d63a3ae5;

    }

    .content-contri {
      /*
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
      /*  line-height: X;        /* fallback */
      /* max-height: X*4;       /* fallback */
    }

    .contribution-type {
      background-color: #617CEA;
      color: #fff;
      display: inline;
      padding: 5px 8px;
      letter-spacing: 0.4px;
      border-radius: 30px;
      margin-bottom: 20px;

    }

    .contri-now-btn {
      border: none;
      border-radius: 12px;
      background-color: #617CEA;
      color: #fff;
      padding: 8px 16px;
      font-weight: 500;
      letter-spacing: 0.4px;
      margin: 12px;



    }

    .close-btn-model,
    .dlt-btn-model {
      border: 2px solid #617CEA;
      outline: none !important;
      padding: 8px 16px;
      border-radius: 12px;
    }

    .close-btn-model {
      background-color: #fff;
      color: #617CEA;
    }

    .dlt-btn-model {
      background-color: #617CEA;
      color: #fff;
    }

    .toast {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .toast,
    .toast-body {
      background-color: #fff !important;
      opacity: 1 !important;

    }

    .toast-body {
      display: flex;
      align-items: center;
    }

    .toast-body .message {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
    }

    .message .text {
      font-size: 16px;
      font-weight: 400;
      color: #666666;
    }

    .message .text.text-1 {
      font-weight: 600;
      color: #333;
    }

    .toast-body .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      min-width: 35px;
      background-color: #617CEA;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;
    }





    @media screen and (max-width:767px) {
      .box-head {
        flex-direction: column;
      }

      .head-btns {
        text-align: center;
        margin-bottom: 12px;
      }

      .head-btns button {
        padding: 6px 10px !important;
        width: 90px !important;
      }

      #contribution {
        padding: 0;
      }
    }


    @media screen and (max-width:480px) {

      .toast-container {}

      .toast {}

    }


    .content-contri {
      width: 300px;
      position: relative;
    }

    .interview-exp {
      overflow: hidden;
      position: relative;
      line-height: 1.5;
      max-height: 6em;
      /* Adjust this value to show 4 lines */
      transition: max-height 0.3s ease;
      /* Add smooth transition */
    }

    .expanded {
      max-height: none;
    }

    .view-more-btn {
      margin-top: 10px;
      display: block;
      background-color: transparent;
      font-size: 14px;
      border: none;
      color: #26A69A;
      font-weight: 600;
      letter-spacing: 0.5px;
      border: 1.5px solid #009688;
      font-variant: all-petite-caps;
      border-radius: 12px;
    }





    .contest-card-profile {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 12px;
      margin: 12px;
    }

    .contest-card-head {
      background-color: #f4f3f3;
      padding: 20px;

    }

    .contest-card-body {
      padding: 20px 20px 10px 20px;

    }







    #contest-card-body {

      position: relative;
    }

    #contest-card-body .text {
      /*   width: 660px;  */
      color: #777;
      position: relative;
      font-family: 'Inter';
      font-size: 14px;
      display: block;
    }

    #contest-card-body .show-more {
      /*   width: 690px;  */
      color: #009688;
      position: relative;
      font-size: 12px;
      height: 20px;
      text-align: center;
      background: #f1f1f1;
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 0.7px;
    }

    #contest-card-body .show-more:hover {
      color: #00796B;
    }

    #contest-card-body .show-more-height {
      height: 100px;
      overflow: hidden;
    }

    .status {
      padding: 6px;
      border-radius: 12px;
    }

    .winner-btn-profile {
      padding: 6px 16px;
      background-color: #617CEA;
      border-radius: 12px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #fff;
    }

    .main-items-1 {
      flex-wrap: wrap;

    }
    .show-more-btn{
      color: #00796B;
      padding: 6px 30px;
      font-size: 14px;
      border-radius: 12px;
    width: 200px;
    margin: 20px auto;
    
      cursor: pointer;

    }
       .show-more-btn:hover{
        color: #26A69A;
        text-decoration: none;
       }
  </style>
</head>

<body>
  {{>navbar}}
  <div class="container">





    <div class="flex-container">

      <div class="side_1 m-3">
        <div class="badge-container">
          <i id="user-circle-id" class="fas fa-user-circle"></i>
          <div class="username">
            <h5 class="mb-2">{{fullname}}</h5>
          </div>
          <div class="logout-btn">
            <a class="btn btn-primary" href="/logout" role="button">Logout</a>
          </div>

        </div>


      </div>
      <div class="profile-container m-3">

        <div class="user-details">
          <div class="username-an bg-light">
            <p class="mb-0 text-secondary">
              Email
            </p>
            <span> {{email}} </span>
          </div>
          <div class="email bg-light">
            <p class="mb-0 text-secondary">
              Username
            </p>
            <span> {{fullname}} </span>
          </div>
          <div class="email bg-light">
            <p class="mb-0 text-secondary">
              Phone:
            </p>
            <span> </span>
          </div>
          <a class="link-in-profile-page" href="/Terms-of-use">
            <div class="another-links bg-light">
              Terms of Use <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </a>
          <a class="link-in-profile-page" href="/Privacy-policy">
            <div class="another-links bg-light">
              Privacy Policy <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </a>
          {{!-- <a class="link-in-profile-page" href="#">
            <div class="another-links bg-light">
              Change Password <span><i class="fas fa-chevron-right"></i></span>
            </div>
          </a> --}}


        </div>
        {{!-- {{/with}} --}}


      </div>
    </div>

  </div>

  <div id="contribution" class="container">
    <hr>

    <h5 class="ml-1">Contributions:</h5>
    <div class="boxes-container-contribution">

      {{#unless contributions}}
      <div class="text-center">
        <h6 class="text-center text-secondary">No Contribution Yet</h6>
        <button class="contri-now-btn">Contribute Now</button>
      </div>
      {{/unless}}
      {{#each contributions}}
      <div class="box-contribution">
        <p style="font-size: 12px;" class="contribution-type  mb-2">Interview Experience</p>

        <div class="box-head mt-3 d-flex justify-content-between">
          <div>
            <h6 class="mb-1">{{compname}} | {{position}}</h6>
            <p style="font-size: 12px;" class="text-secondary">Posted on july 2023</p>
          </div>
          <div class="head-btns">
            {{!-- <a href=""> <button class="head-view-btn">View</button></a> --}}
            {{!-- <a href="/delete-interview-experience/{{_id}}"> --}}
              <button class="head-delete-btn" data-bs-toggle="modal" data-bs-target="#Modal{{@index}}">Delete </button>
              {{!-- </a> --}}
          </div>



          {{!-- DELETE MODEL --}}
          <div class="modal fade" id="Modal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure? Do you want to delete.
                </div>
                <div class="modal-footer">
                  <button type="button" class="close-btn-model" data-bs-dismiss="modal">Close</button>

                  <a href="/delete-interview-experience/{{_id}}">
                    <button type="button" class="dlt-btn-model">Yes Delete</button>
                  </a>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="content-contri">
          <div class="interview-exp" id="paragraph">
            {{{int_exp}}}

          </div>

          <button class="view-more-btn" onclick="toggleParagraph()">View More</button>
        </div>

      </div>
      {{/each}}



    </div>
  </div>

  <div id="fluid-cont" class="container my-4">
    <h5 class="ml-1">Contest</h5>

    {{#unless myContests}}
    <div class="text-center my-4">
      <h6 class="text-center text-secondary">You have not participated in any contest</h6>
      <button class="contri-now-btn">Participate</button>
    </div>
    {{/unless}}

    <div class="participated-contest">
      {{#each myContests}}
      <div class="contest-card-profile">

        <div class="contest-card-head d-flex">
          <div style="width: 100%;">
            <p style="font-size: 12px;" class="contest-status m-2">{{{status}}}</p>
            <h5 class="mb-1">{{title}}</h5>
            <small class="text-secondary">Quiz</small>
          </div>
          <div style="width: fit-content;align-self:center">

            {{#if winners}}
            <button class="winner-btn-profile" data-bs-toggle="modal"
              data-bs-target="#profile-winner-list{{@index}}">Winners</button>


            <!-- Modal -->
            <div class="modal fade" id="profile-winner-list{{@index}}" tabindex="-1"
              aria-labelledby="profile-winner-listLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="profile-winner-listLabel">Winners of {{title}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {{winners}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            <p style="color: #00796B; font-size:14px; font-weight:500">Winners will be announced soon.</p>
            {{/if}}
          </div>

        </div>
    
        <div class="contest-card-body" id="contest-card-body">
            <div class="subheading">
              {{subheading}}
            </div>


            <p style="text-align: center; " class="gap-1 bg-light my-3 p-2">
  <a class="show-more-btn p-1" data-bs-toggle="collapse" href="#collapseExample{{@index}}" role="button" aria-expanded="false" aria-controls="collapseExample{{@index}}">
    Show more details
  </a>

</p>
<div class="collapse" id="collapseExample{{@index}}">
  {{!-- <div class="card card-body">
  </div> --}}
   <div>
              <h6 class="mb-1 mt-4">Timeline</h6>
              <div class="main-items-1 d-flex justify-content-between my-3">
                <div class="item">
                  <p class="mb-0">Registration Start</p>
                  <h6>{{regis_startDate}}</h6>
                </div>
                <div class="item">
                  <p class="mb-0">Registration End</p>
                  <h6>{{regis_endDate}}</h6>
                </div>
                <div class="item">
                  <p class="mb-0">Contest Start</p>
                  <h6>{{con_startDate}}</h6>
                </div>
                <div class="item">
                  <p class="mb-0">Contest End</p>
                  <h6>{{con_endDate}}</h6>
                </div>
              </div>

              <div class="main-items-2 d-flex justify-content-evenly my-3">
                <div class="item text-center">
                  <p class="mb-0">Total winners</p>
                  <h6>{{total_winners}}</h6>
                </div>
                <div class="item text-center">
                  <p class="mb-0">Registered on </p>
                  <h6>{{rdate}}</h6>
                </div>
              </div>
            </div>
</div>




           

        </div>




      </div>
      {{/each}}
    </div>




  </div>


  {{!-- Notification // alerts --}}

  {{#if messages.itemdeleted}}
  {{!-- <div class="toaster">

    <div class="toaster-content">
      <i class="fas fa-solid fa-check check"></i>

      <div class="message">
        <span class="text text-1">Success</span>
        <span class="text text-2">Your changes has been saved</span>
      </div>
    </div>
    <i class="fas fa-close close"></i>

    <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
    <div class="progress"></div>

  </div> --}}


  <div class="toast-container position-fixed top-0 top-0 start-50 translate-middle-x p-3">
    <div class="toast" id="liveToastBtn" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header float-right">

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <i class="fas fa-solid fa-check check"></i>

        <div class="message">

          <span class="text text-1">Success</span>
          <span class="text text-2">Your changes has been saved</span>
        </div>
      </div>
    </div>

  </div>
  {{!-- </div> --}}

  {{/if}}





  {{>Footer}}


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script>

    function toggleParagraph() {
      const paragraph = document.getElementById("paragraph");
      const btn = document.querySelector(".view-more-btn");

      if (paragraph.classList.contains("expanded")) {
        // Collapse the paragraph
        paragraph.classList.remove("expanded");
        btn.textContent = "View More";
      } else {
        // Expand the paragraph
        paragraph.classList.add("expanded");
        btn.textContent = "View Less";
      }
    }



    $(".show-more").click(function () {
      if ($(".text").hasClass("show-more-height")) {
        $(this).text("(Show Less)");
      } else {
        $(this).text("(Show More)");
      }

      $(".text").toggleClass("show-more-height");
    });

    // Function to show the toast
    function showToast() {
      var toast = document.getElementById('liveToastBtn');
      var bsToast = new bootstrap.Toast(toast);

      // Show the toast
      bsToast.show();



      // Close the toast only when clicked
      toast.addEventListener('click', function () {
        bsToast.hide();
      });
    }





    // Call the showToast function to show the toast
    showToast();





  </script>

</body>

</html>