<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>headerlinks}}

  
  {{#with cpps}}
    <title>{{question}}</title>
  {{/with}}
   {{#with Cs}}
    <title>{{question}}</title>
  {{/with}}
   {{#with javas}}
    <title>{{question}}</title>
  {{/with}}
   {{#with pythons}}
    <title>{{question}}</title>
  {{/with}}
   {{#with javascripts}}
    <title>{{question}}</title>
  {{/with}}
   {{#with PPQAs}}
    <title>{{question}}</title>
  {{/with}}
   {{#with PPLAs}}
    <title>{{question}}</title>
  {{/with}}

   {{#with PPenglishs}}
    <title>{{question}}</title>
  {{/with}}
   {{#with PPcodings}}
    <title>{{question}}</title>
  {{/with}}
   
    {{#with PPinterviews}}
    <title>{{question}}</title>
  {{/with}}
   {{#with cseits}}
    <title>{{question}}</title>
  {{/with}}
   {{#with MEs}}
    <title>{{question}}</title>
  {{/with}}
   {{#with DSA_int }}
    <title>{{question}}</title>
  {{/with}}
   {{#with Python_int }}
    <title>{{question}}</title>
  {{/with}}
   {{#with Java_int }}
    <title>{{question}}</title>
  {{/with}}
   {{#with Cpp_int }}
    <title>{{question}}</title>
  {{/with}}
  
{{!-- {{>google_analytics}} --}}
{{!-- {{>google_adsense}} --}}

{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
<link rel="stylesheet" href="/nav-foot.css">
  <script src="index.js"></script>


  <meta name="keywords"
    content="Computer Science Portal, programming, Data Structue and Algorithms, Programming languages, C, C++, Python, Java, JavaScript, Interview Prepration,MAANG, technical interview, Hr interview, software developer,online courses,educational resources,e-learning,placement prepration, Programming languages, interview prepration,self paced learingin, engineering, computer science and engineering, developer">



{{>google_analytics}}
 {{>google_adsense}}
  {{>headerlinks}}

         <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="index.js"></script>

   {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> --}}
  
    <style>
        .ques-details{
            display: flex;
            color: #525252;
            font-family: 'Inter';
            letter-spacing: 0.4px        ;
            font-size: 14px;
            }
        .ques-detail-item{
            margin-right: auto;
        }
        p#ans-tag {
    display: inline;
    background: rgb(77, 182, 172);
    padding: 6px 16px;
    font-size: 14px;
    color:#fff;
    border-radius: 16px;
                letter-spacing: 0.4px        ;


}
h4 {
    
}
body {
    background: #F5F7FF !important;
}
.ques-ans-flex-container{
    display: flex;
    justify-content: center
}
.ques-ans-container {
    padding: 13px;
    background-color: white;
    border-radius: 5px;
    
}
.ques-container{
    width: 100%;
}
.ques-ans-container{
}
.side-items-ques {
    margin-left: 25px;


}
.other-link-ques.bg-light{
    padding: 10px;
    /* width: 100%; */
    
}
a:hover{
    text-decoration: none !important;
}
p.para_border.shadow {
    color: black;
    
}
.ques-head{
   /* font-size: 25px;
   line-height: 1.5;*/
}
.write-ans{
    margin-top: 8px;
    padding: 3px;
}




.rel-items-box a{
    text-decoration: none;
    color: #2b2b2b;


}
.rel-items-box-item{
    background-color: #fff;
    padding: 16px 12px;
    margin: 16px 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-left: 4px solid #00897B;
        border-right: 4px solid #00897B;
        font-family: 'Inter';
        color: #403f3f;

}
.rel-items-box-item:hover{
    border-left: 4px solid #aaa;
        border-right: 4px solid #aaa;
}


.feedback-box{
    background-color: #fff;
    border: 2px solid #617CEA;
    border-radius: 4px;
    padding: 12px;
    font-family: 'Inter';
    font-size: 14px;
    margin: 4px;

}
.feedback-box i{
    font-size: 20px;
    color: #546ED6;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #546ED6;
    margin: 0px 6px;
}
.feedback-box i:hover{
    background-color: #546ED6;
    color: #fff;
    transition: 400ms ease;
}

.feedback-box .section-1{
    align-items: center;
font-weight: 600;
letter-spacing: 0.4px;
color: #546ED6;


}
.feedback-box .section-1 i{
    color: #FFA94D;
    font-size: 25px;
    border-radius: 6px;
    
}

    .rating {
        cursor: pointer;
      }

      .rating-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.4rem 0.8rem;
        width: 100%;
      }

   

      .rating-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .svg {
        fill: #aaa;
        height: 3rem;
        width: 3rem;
        margin: 0.2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .rating-form-2 svg {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
      }

      #radios label {
        position: relative;
      }

      .super-happy,
      [type="radio"] {
        position: absolute;
        opacity: 0;
      }

      .input,
      [type="radio"] + svg {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }

      .super-happy[class="super-happy"]:hover + svg,
      .super-happy[class="super-happy"]:checked + svg,
      .super-happy[class="super-happy"]:focus + svg {
        fill: rgb(0, 204, 79);
        scale: 1.2;
      }

      .neutral[class="neutral"]:hover + svg,
      .neutral[class="neutral"]:checked + svg,
      .neutral[class="neutral"]:focus + svg {
        fill: rgb(232, 214, 0);
        scale: 1.2;
      }

      .super-sad[class="super-sad"]:hover + svg,
      .super-sad[class="super-sad"]:checked + svg,
      .super-sad[class="super-sad"]:focus + svg {
        fill: rgb(239, 42, 16);
        /* transition: 1.5s; */
        scale: 1.2;
      }

      .nav-link.active {
    border-top: 3px solid #26A69A !important ;
    font-weight: 500;
}

@media screen and (min-width:992px){
    .side-items-ques{
        width: 30%;
    }
    .ques-container{
        width: 90%;
    }
    .ques-ans-container{
      /*  width: 78%;
      */
    }
    .other-link-ques.bg-light{
        width: 100%;
    }
}
.para_border {
    margin-bottom: 20px;
    padding: 8px;
    background-color: #ffffff;
    border-left: 6px solid teal;
    border-radius: 4px;
}
.para_border:hover {
  background-color: #7fb8b1;
  color: black;
  cursor: pointer;
}
.para_border  a{
    text-decoration: none;
    color: black;
}

.more-items
{
  position: relative;
    padding: 40px 40px;
    border-top: 4px solid rgb(91, 91, 191);
    border-radius: 8px;
    margin: 20px;
    background-color: #fff;
    cursor: pointer;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: 'Inter';
}
.more-items h5{
  position: relative;
  z-index: 5;
  color: #525252;
}
.more-items:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 400ms ease;
}
@media screen and (max-width:991px){
    .aside.col-3{
        display: none;
    }
}
@media screen and (max-width:480px){
    .container{
        padding: 2px !important;
    }
    .ques-details{
        flex-direction: column;
    }
    .ques-ans-container{
        width:100% ;
    }
    .svg{
        width: 2.5rem;
        height: 2.5rem;
    }
.social-icon-container-feedback{
    font-size: 14px;
}
.feedback-box i{
    padding: 8px;
    margin: 2px;

}
.feedback-box{
    padding:12px 6px;
}
    

}
@media screen and (max-width:590px){
    .ques-ans-container{
        width: 100%;
    }
    

}
.container {
    margin-top: 8px;
}
.aside.col-3{
    margin-left: 10px;
}



#comp_name,#post{
    padding: 6px;
    font-size: 14px;
    border-radius: 12px;
    background-color: #B2DFDB;
    width: fit-content;
    border: 2px solid #00897B;
    color: rgb(90, 89, 89);
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #00695C;
}

.prev-box,.next-box{
  padding: 20px 12px;
  margin: 4px;
  background-color: #fff;
  color: #525252;
  width: auto;
  font-size: 18px;
  text-align: center;
  border: 1px solid #aaa;
  letter-spacing: 0.4px;
  font-variant: all-petite-caps;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}
.next-prev-links{
  width: 95%;
}

.topic-tag{
  padding: 4px 6px;
  margin: 4px;
  background-color: #edebeb;
  border-radius: 8px;
}

.companies-btn-modal{
  border: none;
  border-radius: 12px;
  padding: 4px 10px;
  color: #617CEA;
  background-color: #d9dff8;
  font-weight: 500;
  font-size: 14px;

}
.topic-tag-container{
  flex-wrap: wrap;
}

.company-tag{
  padding: 8px 14px;
  margin: 4px;
  background-color: #bce1de;
  color: #009688;
  border-radius: 8px;
  display: inline-block;
}
button.btn-close{
    outline: none !important;
   box-shadow: none !important;
   -webkit-box-shadow: none !important;
}



.cookieCard {
  width: 100%;
  background: linear-gradient(to right,#617CEA,#90a2ea);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  font-family: 'Inter';
}

.cookieCard::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right,#617CEA,#b0bced);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 22px;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(241, 241, 241);
}

.acceptButton {
  padding: 6px 10px;
  background-color: #8194e2;
  border-radius: 12px;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.acceptButton:hover {
  background-color: #617CEA;
  transition-duration: .2s;
}







    </style>
<link rel="stylesheet" href="/test.css">
    <script src="index.js"></script>
</head>
<body>
    {{>navbar}}
    <div  class="container">
        <div class="ques-ans-flex-container">

<div class="ques-container">
            {{#with cpps}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>


 
              
 {{/with}}

             

               {{#with Cs}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

               {{#with javas}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

               {{#with pythons}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                   {{#with javascripts}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                       {{#with PPQAs}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

           {{#with PPLRs}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                         {{#with PPenglishs}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                         {{#with PPcodings}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
              <div class="d-flex align-items-center">
                            <span style="font-size: 14px;color:#26A69A;white-space: nowrap; border-right:2px solid #aaa" class="fw-bold pr-2">{{level}} 
                            </span>
                            <small>
                               
                              <div class="topic-tag-container d-flex flex-row pl-2">
                                {{#each topic}}               
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                 {{/each}}
                                  </div>
                              </small>
                </div>

          {{!-- COMPANIES TAGS --}}
          <!-- Button trigger modal -->

          {{#if company_tags}}
<button type="button" class="companies-btn-modal mt-3" data-bs-toggle="modal" data-bs-target="#Companies-Modal">
<i class="fa-solid fa-circle-info"></i> Comapanies
 
</button>

<!-- Modal -->
<div class="modal fade" id="Companies-Modal" tabindex="-1" aria-labelledby="Companies-ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Companies-ModalLabel">Companies</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <div class="company-tag-container mt-2 mb-3">
                        
                           {{#each company_tags}}               
                                    <span class="company-tag">{{this}}</span>                                                             
                                 {{/each}}

                        
                      </div>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


 {{/if}}
                {{!-- <div class="ques-details">
                  
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div> --}}

 

                 <div class="ans">
                
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                         {{#with DSA_int}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                            </div>
                 <div class="ans">
                    <p class="text" style="font-size: 14px;color:#26A69A">Interview Prepration > DSA Interview Question</p>
  <p class="text-light bg-primary" style="font-size: 14px;width:fit-content;padding:6px 16px;border-radius:16px">Answer</p>


                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>





              {{/with}}
                         {{#with Cpp_int}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                            </div>
                 <div class="ans">
                    <p class="text" style="font-size: 14px;color:#26A69A">Interview Prepration > C++ Interview Question</p>
  <p class="text-light bg-primary" style="font-size: 14px;width:fit-content;padding:6px 16px;border-radius:16px">Answer</p>


                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}
                         {{#with Python_int}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                            </div>
                 <div class="ans">
                    <p class="text" style="font-size: 14px;color:#26A69A">Interview Prepration > Python Interview Question</p>
  <p class="text-light bg-primary" style="font-size: 14px;width:fit-content;padding:6px 16px;border-radius:16px">Answer</p>


                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}
                         {{#with Java_int}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                            </div>
                 <div class="ans">
                    <p class="text" style="font-size: 14px;color:#26A69A">Interview Prepration > Java Interview Question</p>
  <p class="text-light bg-primary" style="font-size: 14px;width:fit-content;padding:6px 16px;border-radius:16px">Answer</p>


                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}
                         {{#with HR_int}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                            </div>
                 <div class="ans">
                    <p class="text" style="font-size: 14px;color:#26A69A">Interview Prepration > HR Interview Question</p>
  <p class="text-light bg-primary" style="font-size: 14px;width:fit-content;padding:6px 16px;border-radius:16px">Answer</p>


                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}



              {{!-- BRANCH WISE QUESTION --}}

                  {{#with cseits}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    {{!-- <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>Easy{{{level}}}</p> --}}
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}

                  {{#with MEs}}
          <div class="ques-ans-container">
              <h4 class="ques-head mb-4">{{question}}</h4>
                <div class="ques-details">
                    {{!-- <p class="ques-detail-item"><span class="fw-bold">Difficulty Level: </span>Easy{{{level}}}</p> --}}
                        <p class="ques-detail-item"><span class="fw-bold"> Topic : </span>{{topic}}</p>

                     </div>
                 <div class="ans">
                    <div class="ans-tag">
                        <p id="ans-tag" >Answer </p>
                     </div>
                     <div class="write-ans">
                            <p>{{{answer}}}</p>
                        </div>
                  
                  </div>
              </div>
              {{/with}}
              <div class="feedback-box text-center d-flex justify-content-evenly ">
                <div class="section-1 d-flex flex-column">
                        <p class="mb-2">Find this article helpful?</p>
                        <div class="">
  <div class="rating">
      <form class="rating-form">
        <label for="super-happy" class="lb">
          <input
            type="radio"
            name="rating"
            class="super-happy"
            id="super-happy"
            value="super-happy"
          />
          <svg class="svg" viewBox="0 0 24 24">
            <path
              d="M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
            ></path>
          </svg>
        </label>
        <label for="neutral" class="lb">
          <input
            type="radio"
            name="rating"
            class="neutral"
            id="neutral"
            value="neutral"
          />
          <svg
            class="svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
          >
            <path
              d="M8.5,11A1.5,1.5 0 0,1 7,9.5A1.5,1.5 0 0,1 8.5,8A1.5,1.5 0 0,1 10,9.5A1.5,1.5 0 0,1 8.5,11M15.5,11A1.5,1.5 0 0,1 14,9.5A1.5,1.5 0 0,1 15.5,8A1.5,1.5 0 0,1 17,9.5A1.5,1.5 0 0,1 15.5,11M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M9,14H15A1,1 0 0,1 16,15A1,1 0 0,1 15,16H9A1,1 0 0,1 8,15A1,1 0 0,1 9,14Z"
            ></path>
          </svg>
        </label>
        <label for="super-sad" class="lb">
          <input
            type="radio"
            name="rating"
            class="super-sad"
            id="super-sad"
            value="super-sad"
          />
          <svg class="svg" viewBox="0 0 24 24">
            <path
              d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M16.18,7.76L15.12,8.82L14.06,7.76L13,8.82L14.06,9.88L13,10.94L14.06,12L15.12,10.94L16.18,12L17.24,10.94L16.18,9.88L17.24,8.82L16.18,7.76M7.82,12L8.88,10.94L9.94,12L11,10.94L9.94,9.88L11,8.82L9.94,7.76L8.88,8.82L7.82,7.76L6.76,8.82L7.82,9.88L6.76,10.94L7.82,12M12,14C9.67,14 7.69,15.46 6.89,17.5H17.11C16.31,15.46 14.33,14 12,14Z"
            ></path>
          </svg>
        </label>
      </form>
    </div>
                        </div>
                        
                </div>
                <div class="social-icon-container-feedback">
                                <h6 style="color: #617CEA;" class="mb-1">Let us know!</h6>

           <a  target="_blank" href="https://www.instagram.com/learnbits_in">     <i class="fa-brands fa-instagram"></i></a>
                <a target="_blank"  href="https://www.linkedin.com/company/learnbits/"> <i class="fa-brands fa-linkedin"></i></a>
               <a target="_blank"  href="mailto:learnbits01@gmai.com">  <i class="fa-solid fa-envelope"></i></a>


                </div>
        
</div>
{{!-- ONlY FOR INTERVIEW QUESTIONS --}}


<div class="next-prev-container d-flex justify-content-evenly">
   {{#if prevques}}
   <a  class="next-prev-links" href="/interview-prep/{{Java_int.type}}{{DSA_int.type}}{{Cpp_int.type}}{{Python_int.type}}{{HR_int.type}}-interview-questions/{{prevques._id}}/{{prevques.question}}"><div class="prev-box"> <i class="fa-solid fa-arrow-left-long"></i> Previous 
    {{!-- <p class="mb-1">{{prevques.question}}</p> --}}
     </div></a>
    {{/if}}
   {{#if nextques}} 
 <a class="next-prev-links" href="/interview-prep/{{Java_int.type}}{{DSA_int.type}}{{Cpp_int.type}}{{Python_int.type}}{{HR_int.type}}-interview-questions/{{nextques._id}}/{{nextques.question}}"><div class="next-box">Next <i class="fa-solid fa-arrow-right-long"></i> 
  {{!-- <p class="mb-1">{{nextques.question}}</p> --}}
  </div></a> 
 {{/if}}
</div>

{{!-- {{/with}} --}}



<h3 class="mt-3 p-2 mb-0">Related Items</h3>
<hr>
<div class="rel-items-box">
  
    {{#each rel_post}}
 <a href="/language/{{../lang}}/{{_id}}/{{question}}">
    <div class="rel-items-box-item">
        <p style="font-size: 12px;" class="text-secondary mb-1">{{../lang}} Question</p>
        <h6 class="mb-3">{{question}}</h6>
            <div class="d-flex justify-content-start">
               <p class=""  style="font-size:14px;width:40%"><strong>Difficulty Level: </strong>{{level}} </p>
               <p  style="font-size:14px"><strong>Topic : </strong> {{topic}}</p>

            </div>   
    </div>
</a>
{{/each}}
    {{#each rel_DSA}}
 <a href="/Data-Structure-and-algorithms/{{_id}}/{{question}}">
    <div class="rel-items-box-item">
        <p style="font-size: 12px;" class="text-secondary mb-1">DSA Question</p>
        <h6 class="mb-3">{{question}}</h6>
            <div class="d-flex justify-content-start">
               <p class=""  style="font-size:14px;width:40%"><strong>Difficulty Level: </strong>{{level}} </p>
               {{!-- <p  style="font-size:14px"><strong>Topic : </strong> {{topic}}</p> --}}

            </div>   
    </div>
</a>
{{/each}}

              {{!-- related  --}}
            
                 {{#each rel_int}}
   
 
 <a href="/interview-prep/{{type}}-interview-questions/{{_id}}/{{question}}">
    <div class="rel-items-box-item">
        
        <p style="font-size: 12px;" class="text-secondary mb-2">{{type}} Interview Question</p>
        <h6 class="mb-3">{{question}}</h6>
            <div class="d-flex justify-content-start">
               {{!-- <p class=""  style="font-size:14px;width:40%"><strong>Difficulty Level: </strong>{{level}} </p> --}}
         {{#if topic}}      <p class="mb-2" style="font-size:14px"><strong>Topic : </strong> {{topic}}</p>{{/if}}

            </div>   
    </div>
</a>
{{/each}}


{{!-- <hr class="my-4"> --}}



   
</div>

{{!-- <h3 class="mt-4">More Like This</h3> --}}


{{!-- <div class="more-items-container d-flex">
    <div style="background-color: #e1e6f9;" class="more-items">
      
      
        <h5>Python Questions</h5>

        
 <div class="circle">
 </div>

    </div>
    <div style="background-color:#d5f2fd ; border-top:4px solid #6fd0f4" class="more-items">
        <h5>Java Questions</h5>
        <div class="circle">
 </div>

    </div>
    <div class="more-items">
        <h5>C Questions</h5>

    </div>
</div> --}}

{{!-- <hr> --}}

</div>


              {{!-- <div class="side-items-ques">
                  <div class="other-link-ques">
                    <h5>MORE TOPICS</h5>
                    <hr>
                     
                         <p class="para_border shadow"><a href="/language/c">C Questions</a> </p>
                       <p class="para_border shadow"><a href="/language/cpp">C++ Questions</a></p>
                       <p class="para_border shadow"><a href="/language/python">Python Questions</a></p>
                       <p class="para_border shadow"><a href="/language/java">Java Questions</a></p>
                       <p class="para_border shadow"><a href="/cse-it/questions">Computer Science Engineering </a></p>
                        <p class="para_border shadow"><a href="/ME/questions">Mechanical Engineering </a></p>
                        <p class="para_border shadow"><a href="/MCQ/CSE-IT">Computer Science Engineering (MCQs) </a></p>
                        <p class="para_border shadow"><a href="/MCQ/ME">Mechanical Engineering(MCQs) </a></p>
 
                </div>
              </div> --}}
              
              <div class="aside col-3">


<div class="cookieCard">
  <p class="cookieHeading">Share your interview Experience.</p>
  <p class="cookieDescription">Write your interview experience and stand a chance to win goodies and exciting prizes.</p>
  <a href="/interview-prep"><button class="acceptButton"><small>Write your interview Experience</small></button></a>
</div>

                <h4>TOPICS</h4>
                <hr>
               
                        <a href="/language/c"><p class="para_border shadow">C Questions </p></a>
                             <a href="/language/cpp"><p class="para_border shadow">C++ Questions</p></a>
                             <a href="/language/python"><p class="para_border shadow">Python Questions</p></a>
                             <a href="/language/java"><p class="para_border shadow">Java Questions</p></a>
                             <a href="/language/javascript"><p class="para_border shadow">JavaScript Questions</p></a>
                             {{!-- <a href="/cse-it/questions"><p class="para_border shadow">Computer Science Engineering </p></a> --}}
                              {{!-- <a href="/ME/questions"><p class="para_border shadow">Mechanical Engineering </p></a> --}}
                              {{!-- <a href="/MCQ/CSE-IT"><p class="para_border shadow">Computer Science Engineering (MCQs) </p></a> --}}
                              {{!-- <a href="/MCQ/ME"><p class="para_border shadow">Mechanical Engineering(MCQs) </p></a> --}}
       
              </div>
            </div>
         </div>
    </div>

    {{>Footer}}
        <script>hljs.initHighlightingOnLoad();</script>


  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script> --}}




  

</body>
</html>