<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Questions</title> --}}

      {{!-- <meta name="description" content="Here are the list of "> --}}
  <meta name="keywords" content="online courses,educational resources,e-learning,placement prepration, Programming languages, interview prepration,self paced learning, online certifications, pdf of books , engineering">

  <link rel="stylesheet" href="/nav-foot.css">
  <script src="index.js"></script>


{{>google_analytics}}
 {{>google_adsense}}
{{>headerlinks}}
    {{#if cppques}}
                <title> C++ Questions </title>
                {{/if}}
                {{#if java}}
                <title> Java Questions </title>
                {{/if}}
                 {{#if python}}
                <title> Python Questions </title>
                {{/if}}
                 {{#if javaScript}}
                <title> JavaScript Questions </title>
                {{/if}}
                 {{#if C}}
                <title> C language Questions </title>
                {{/if}}
                 {{#if cseit}}
                <title> CSE-IT Questions</title>
                {{/if}}
                 {{#if ME}}
                <title>Mechanical Engineering Questions</title>
                {{/if}}

                 {{#if PPQA}}
                <title>Quantitative-Aptitude Questions</title>
                {{/if}}
                 {{#if PPLR}}
                <title>Logical & reasoning Questions</title>
                {{/if}}
                 {{#if PPenglish}}
                <title>English Questions</title>
                {{/if}}
                 {{#if DSA}}
                <title>Data Structure and Algorithms</title>
                {{/if}}
                 {{#if PP_DSA_int}}
                <title> Data Structure and Algorithm Interview Questions</title>
                {{/if}}
                 {{#if PP_Python_int}}
                <title> Python Interview Questions</title>
                {{/if}}
                 {{#if PP_Java_int}}
                <title> Java Interview Questions</title>
                {{/if}}
                 {{#if PP_Cpp_int}}
                <title> C++ Interview Questions</title>
                {{/if}}
                 {{#if PP_HR_int}}
                <title> HR Interview Questions</title>
                {{/if}}

    
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>


   
    <link rel="stylesheet" href="style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        p{
            margin-bottom: 8px;
        }
        .full-view-btn{
            text-align: center;
            
        }
        .view-ans-btn{
            background-color:  rgb(91, 199, 188) ;
            width: 400px;
            border-radius: 5px;
            margin: 5px;
            padding: 4px;
            border: 1px solid #00897B;
        }
        .view-ans-btn:hover{
            background-color: rgb(1, 160, 160);
        }
        .ques-1.bg-light {
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 18px;
    font-family: "Inter";
}
        .ques-interview {
    padding: 12px;
    border-radius: 5px;
    margin-top: 18px;
    border: 2px solid #26A69A;
    font-family: 'Inter';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ques-interview:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.interview-ques-link , .interview-ques-link:hover{
  text-decoration: none!important;
  color: #434343;
  
}


.ques-list-side-items {
    width: 25%;
    margin-left: 15px;
    padding: 15px;
}
/* .container{
    display: flex;
} */

/*
PAGINATION STYLING
  */

  ul.pagination{
      justify-content: space-between;
  }
  a.page-link{
      background-color: rgb(38, 166, 154);
      color: #ffff;
      border-radius: 30px;
  }
    a.page-link:visited{
      background-color:rgb(86, 179, 169);
      color: #ffff;
  }
  a.page-link:hover{
      background-color:rgb(86, 179, 169);
      color: #ffff;
  }
    a.page-link:focus{
      background-color:rgb(86, 179, 169);
      color: #ffff;
   box-shadow: 0 0 0 0.2rem rgb(86, 179, 169);
  }
span.page-link{
    border-radius: 30px;
}
.page-item:first-child .page-link,.page-item:first-child .page-link {
     border-top-left-radius: 30px !important; 
    border-bottom-left-radius: 30px !important; 
}
.page-item:last-child .page-link,.page-item:last-child .page-link{
        border-top-right-radius: 30px !important; 
    border-bottom-right-radius: 30px !important; 
}


@media screen and (min-width:992px){
    .ques-list-container {
    width: 75%;
}
#containerid{
  display: flex;
}
.div-for-side-ads.m-2.mt-4{
  width: 22%;
}

}
@media screen and (max-width:991px){
    .ques-list-side-items{
        display: none;
    }
    .div-for-side-ads{
      display: none;
    }
    .div-for-side-ads.m-2.mt-4.ml-4.bg-dark{
      display: none;
    }
}
@media screen and (max-width:480px){
    button.view-ans-btn{
        width: 80%;
    }

}
#containerid{
  margin-top: 8px;
  
  
}






.div-for-side-ads.bg-dark {
    width: 22%;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: 0; */
    right: 2%;
}





.interview-ans{
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   font-size: 14px;
}

.topic-tag{
  padding: 4px 6px;
  margin: 4px;
  background-color: #edebeb;
  border-radius: 8px;
}

.topic-tag-container{
  flex-wrap: wrap;
}
.company-tag{
  padding: 4px 6px;
  margin: 4px;
  background-color: #bce1de;
  color: #009688;
  border-radius: 8px;
  display: inline-block;
}

        
    </style>
     {{!-- <script src="index.js"></script> --}}

</head>
<body>

  {{>navbar}}
    <div id="containerid" class="container">
        <!-- <div class="another-container"> -->

        <div class="ques-list-container">

            <div class="ques-list-heading">
                {{#if cppques}}
                <h2>C++ Questions</h2>
                {{/if}}
                {{#if java}}
                <h2>Java Questions</h2>
                {{/if}}
                 {{#if python}}
                <h2>Python Questions</h2>
                {{/if}}
                 {{#if javaScript}}
                <h2>JavaScript Questions</h2>
                {{/if}}
                 {{#if C}}
                <h2>C Questions</h2>
                {{/if}}
                 {{#if cseit}}
                <h2>CSE-IT Questions</h2>
                {{/if}}
                 {{#if ME}}
                <h2>Mechanical Engineering Questions</h2>
                {{/if}}

                 {{#if PPQA}}
                <h2>Quantitative-Aptitude Questions</h2>
                {{/if}}
                 {{#if PPLR}}
                <h2>Logical & reasoning Questions</h2>
                {{/if}}
                 {{#if PPenglish}}
                <h2>English Questions</h2>
                {{/if}}
                 {{#if DSA}}
                {{!-- <h2>Data Structure and Algorithms</h2> --}}
                {{/if}}
                 {{#if PPinterview}}
                <h2>Interview Questions</h2>
                {{/if}}
                 {{#if PP_DSA_int }}
                <h2>DSA Interview Questions</h2>
                {{/if}}
                 {{#if PP_Java_int }}
                <h2>Java Interview Questions</h2>
                {{/if}}
                 {{#if PP_Python_int }}
                <h2>Python Interview Questions</h2>
                {{/if}}
                 {{#if PP_Cpp_int }}
                <h2>C++ Interview Questions</h2>
                {{/if}}
                 {{#if PP_HR_int }}
                <h2>HR Interview Questions</h2>
                {{/if}}
            </div>
                 <hr>
                 

                 
                    <div class="ques-lists">
                        {{#each cpps}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            {{!-- <p><span class="fw-bold">Topic: </span> {{topic}}</p> --}}
                              {{#each topic}}    
                              <small>          
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                    </small> 
                                 {{/each}}

                            <div class="full-view-btn">
                              <a href="/language/cpp/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>

                         

                         {{/each}}


                             {{#each cs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            {{!-- <p><span class="fw-bold">Topic: </span> {{topic}}</p> --}}
                             {{#each topic}}    
                              <small>          
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                    </small> 
                                 {{/each}}

                            <div class="full-view-btn">
                              <a href="/language/c/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}


                             {{#each javas}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            {{!-- <p><span class="fw-bold">Topic: </span> {{topic}}</p> --}}
                             {{#each topic}}    
                              <small>          
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                    </small> 
                                 {{/each}}

                            <div class="full-view-btn">
                              <a href="/language/java/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                             {{#each Pythons}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            {{!-- <p><span class="fw-bold">Topic: </span> {{topic}}</p> --}}
                             {{#each topic}}    
                              <small>          
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                    </small> 
                                 {{/each}}

                            <div class="full-view-btn">
                              <a href="/language/python/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}
                          {{#each javascripts}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            {{!-- <p><span class="fw-bold">Topic: </span> {{topic}}</p> --}}
                             {{#each topic}}    
                              <small>          
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                    </small> 
                                 {{/each}}

                            <div class="full-view-btn">
                              <a href="/language/javascript/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

             {{!--        PLACEMENT PREPRATION       --}}
               {{#each PPQAs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            <p><span class="fw-bold">Topic: </span> {{topic}}</p>

                            <div class="full-view-btn">
                              <a href="/Quantitative-Aptitude/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                          {{#each PPLRs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            <p><span class="fw-bold">Topic: </span> {{topic}}</p>

                            <div class="full-view-btn">
                              <a href="/Logical-reasoning/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                          {{#each PPenglishs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <p><span class="fw-bold">Difficulty Level: </span>{{{level}}}</p>
                            <p><span class="fw-bold">Topic: </span> {{topic}}</p>

                            <div class="full-view-btn">
                              <a href="/English/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                            {{#each DSAs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            <div class="d-flex align-items-center">
                             <span style="font-size: 14px;color:#26A69A;white-space: nowrap; border-right:2px solid #aaa" class="fw-bold pr-2">{{level}} 
                            </span>
                            <small>
                               
                              <div class="topic-tag-container d-flex flex-row pl-1">
                                {{#each topic}}               
                                    <span class="topic-tag text-secondary">{{this}}</span>                                                             
                                 {{/each}}
                                  </div>
                              </small>
                              </div>
                              {{#if company_tags}}
                      <div class="company-tag-container mt-2 mb-3">
                        <small>
                           {{#each company_tags}}               
                                    <span class="company-tag">{{this}}</span>                                                             
                                 {{/each}}

                        </small>
                      </div>
                      {{/if}}
                            <div class="full-view-btn">
                              <a href="/Data-Structure-and-Algorithms/questions/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}



{{!-- INTERVIEW QUESTION LIST STARTING --}}

                            {{#each PP_DSA_int}}
                            <a class="interview-ques-link" href="/interview-prep/DSA-Interview-Questions/{{_id}}/{{question}}">
                        <div class="ques-interview bg-light">
                            <h6>{{question}}</h6>
                            <div class="interview-ans">
                            
                              <p style="font">{{{answer}}}</p>
                            </div>
                         </div>
</a>
                         {{/each}}
                            {{#each PP_Cpp_int}}
                            <a class="interview-ques-link" href="/interview-prep/Cpp-Interview-Questions/{{_id}}/{{question}}" >
                        <div class="ques-interview bg-light">
                            <h6>{{question}}</h6>
                            <div class="interview-ans">
                            
                              <p style="font">{{{answer}}}</p>
                            </div>
                         </div>
</a>
                         {{/each}}
                            {{#each PP_Java_int}}
                            <a class="interview-ques-link"  href="/interview-prep/java-interview-questions/{{_id}}/{{question}}">
                        <div class="ques-interview bg-light">
                            <h6>{{question}}</h6>
                            <div class="interview-ans">
                            
                              <p style="font">{{{answer}}}</p>
                            </div>
                         </div>
</a>
                         {{/each}}
                            {{#each PP_Python_int}}
                            <a class="interview-ques-link"  href="/interview-prep/python-interview-questions/{{_id}}/{{question}}">
                        <div class="ques-interview bg-light">
                            <h6>{{question}}</h6>
                            <div class="interview-ans">
                            
                              <p style="font">{{{answer}}}</p>
                            </div>
                         </div>
</a>
                         {{/each}}
                            {{#each PP_HR_int}}
                            <a class="interview-ques-link"  href="/interview-prep/HR-interview-questions/{{_id}}/{{question}}">
                        <div class="ques-interview bg-light">
                            <h6>{{question}}</h6>
                            <div class="interview-ans">
                            
                              <p style="font">{{{answer}}}</p>
                            </div>
                         </div>
</a>
                         {{/each}}
            

            {{!-- INTERVIEW QUESTION ENDING --}}



            {{!-- BRANCH QUESTION --}}

                         {{#each cseits}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            {{!-- <p><span class="fw-bold">Difficulty Level: </span>{{level}}</p> --}}
                            <p><span class="fw-bold">Topic: </span> {{topic}}</p>

                            <div class="full-view-btn">
                              <a href="/cse-it/questions/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                          {{#each MEs}}
                        <div class="ques-1 bg-light">
                            <h6>{{question}}</h6>
                            {{!-- <p><span class="fw-bold">Difficulty Level: </span>{{level}}</p> --}}
                            <p><span class="fw-bold">Topic: </span> {{topic}}</p>

                            <div class="full-view-btn">
                              <a href="/ME/questions/{{_id}}/{{question}}"><button class="view-ans-btn">View Answer</button></a>
                            </div>
                         </div>
                         {{/each}}

                        



                       

                    </div>


<div class="horizontal-ad my-3">

                    {{>horizontal_ad}}
</div>

   <nav class="my-4" aria-label="Page navigation example">
  <ul class="pagination">
       {{#if firstpage}}
     <li class="page-item disabled ml-5">
      <span class="page-link">Previous</span>
      {{else}}
    <li class="page-item ml-5"><a class="page-link" href="?page={{prevp}}"><i class="fas fa-arrow-circle-left"></i> Previous</i></a></li>
 {{/if}}
    

  {{#if hasnext}}
  <li class="page-item mr-5 disabled">
      <span class="page-link">Next</span>
    </li>
    {{else}}
    <li class="page-item mr-5"><a class="page-link" href="?page={{nextp}}">Next <i class="fas fa-arrow-circle-right"></i></a></li>
   {{/if}}
  </ul>
</nav>
   
        </div>


       
        <div class="div-for-side-ads m-2 mt-4 ml-4">
          
<div class="ad-container my-2">

          {{>square_ad}}
</div>

          <div style="position: -webkit-sticky;position:sticky;top:5%;" class="ad-container-2 my-2">

          {{>vertical_ad}}
          </div>

        </div>
        
      
    </div>
 

 

 
{{>Footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
